<!DOCTYPE html>
<html>
    <head>
        <title>INF Report</title>
    </head>

<body>

    <div class="jumbotron">
        <h1>INF Salary Report</h1>
        <hr />
       
        <p>@Html.ActionLink("Generate Report", "Report", "Home", new { area = "" }, new { @class = "btn btn-primary" })</p>
    </div>

</body>
    

</html> 


